<div class="container">
  <section class="global_musicapp">
    <header>
      <h4>Discover music from around the world</h4>
    </header>

    <section class="choose-country">
      <%= form_tag(root_path) do %>
        <div class="custom-select">
          <%= label_tag(:search_params, "Pick a Country:") %>
          <br />
          <br />
          <%= select_tag(:search_params, options_for_select(
            [
              ["...", "", {class: 'hidden'}],
              ["France", "FA"],
              ["Italy", "IT"],
              ["South Africa", "ZA"],
              ["Spain", "ES"],
              ["United States", "US"]
              ], selected: "", disabled: ""
            )
          ) %>
          <%= submit_tag "Search", name: nil %>
        </div>
      <% end %>
    </section>
  </section>
</div>